<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <h2>City</h2>
    <table class="table">
        <thead>
        <tr class="table-dark text-dark">
            <th>#</th>
            <th>Name</th>
            <th>City</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-secondary" th:each="city : ${city}">
            <td th:text="${city.id}"></td>
            <td th:text="${city.name}"></td>
            <td th:text="${city.country.nameCountry}"></td>
            <td><a th:href="@{/delete(id = ${city.id})}">xóa</a>||
            <a th:href="@{/edit(id = ${city.id})}">chỉnh sửa</a>||
            <a th:href="@{/view(id = ${city.id})}">chi tiết</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-outline-secondary"><a href="/create">Thêm thành phố</a></button>
</div>

</body>
</html>